In [2]:
import pandas as pd

import matplotlib
%matplotlib inline
import numpy as np

from matplotlib import pyplot as plot

In [11]:
zapis = pd.read_csv('podatki.csv', encoding = "utf-8", sep=';',thousands=",")
zapis['Birthday'] = pd.to_datetime(zapis['Birthday'], format="%Y.%m.%d")
zapis

,Rank,Country,Age,Birthday,Weight,Height,WL_17,T17,Earn17,Career_high,WL_career,T_career,Earn_career
RafaelNadal,1,ESP,31,1986-06-03,85.0,185.0,67-11,6,15851340,1,873-185,75,94588627
RogerFederer,2,SUI,36,1981-08-08,85.0,185.0,52-5,7,13054856,1,1132-250,95,111885682
GrigorDimitrov,3,BUL,26,1991-05-16,80.0,191.0,49-19,4,6575244,3,257-161,8,14083976
AlexanderZverev,4,GER,20,1997-04-20,86.0,198.0,55-22,5,5006313,3,117-70,6,7041628
DominicThiem,5,AUT,24,1993-09-03,82.0,185.0,49-27,1,4283907,4,171-109,8,9507497
MarinCilic,6,CRO,29,1988-09-28,89.0,198.0,44-22,1,4004923,4,435-232,17,20919276
DavidGoffin,7,BEL,27,1990-12-07,68.0,180.0,59-24,2,3890613,7,201-128,4,8995195
JackSock,8,USA,25,1992-09-24,84.0,191.0,38-21,3,3149419,8,153-103,4,8171779
StanWawrinka,9,SUI,32,1985-03-28,81.0,183.0,26-11,1,3083829,3,465-262,16,30905144
PabloCarrenoBusta,10,ESP,26,1991-07-12,78.0,188.0,36-26,1,2843305,10,111-110,3,5746293
JuanMartindelPotro,11,ARG,29,1988-09-23,97.0,198.0,38-16,1,2547354,4,384-156,20,18873003
NovakDjokovic,12,SRB,30,1987-05-22,77.0,188.0,32-8,2,2083741,1,783-163,68,109805403
SamQuerrey,13,USA,30,1987-10-07,95.0,198.0,36-21,2,2232149,13,321-257,10,9977508
KevinAnderson,14,RSA,31,1986-05-18,93.0,203.0,32-21,0,2842345,10,271-201,3,10241620
Jo-WilfriedTsonga,15,FRA,32,1985-04-17,91.0,188.0,38-15,4,1843647,5,426-195,16,20808869
AndyMurray,16,GBR,30,1987-05-15,84.0,191.0,25-10,1,2071625,1,655-184,45,60807644
JohnIsner,17,USA,32,1985-04-26,108.0,208.0,38-22,2,1707550,9,359-220,12,12567465
LucasPouille,18,FRA,23,1994-02-23,81.0,185.0,36-22,3,1953511,13,85-66,4,4514157
TomasBerdych,19,CZE,32,1985-09-17,91.0,196.0,35-18,0,1782871,4,616-321,13,28220153
RobertoBautistaAgut,20,ESP,29,1988-04-14,76.0,183.0,48-21,2,1753055,13,212-130,6,7430934
NickKyrgios,21,AUS,22,1995-04-27,85.0,193.0,31-17,0,1787646,13,106-62,3,5514920
KeiNishikori,22,JPN,27,1989-12-29,75.0,178.0,30-13,0,1485482,4,331-155,11,17624129
AlbertRamos-Vinolas,23,ESP,29,1988-01-17,80.0,188.0,34-31,0,1643204,17,157-178,1,5425723
MilosRaonic,24,CAN,27,1990-12-27,98.0,196.0,29-12,0,1405103,3,288-132,8,15804114
GillesMuller,25,LUX,34,1983-05-09,89.0,193.0,32-18,2,1227494,21,223-194,2,5403128
DiegoSchwartzman,26,ARG,25,1992-08-16,64.0,170.0,39-28,0,1523297,25,70-76,1,3013699
FabioFognini,27,ITA,30,1987-05-24,74.0,178.0,36-23,1,1304964,13,282-259,5,9337102
AdrianMannarino,28,FRA,29,1988-06-29,70.0,180.0,33-27,0,1279672,27,136-163,0,4758169
PhilippKohlschreiber,29,GER,34,1983-10-16,70.0,178.0,32-19,1,1171269,16,423-322,8,10736926
DamirDzumhur,30,BIH,25,1992-05-20,70.0,175.0,36-24,2,1012697,30,76-66,2,2180869
...,...,...,...,...,...,...,...,...,...,...,...,...,...
KazukiNishiwaki,1943,JPN,23,1994-10-29,70.0,178.0,0-0,0,1142,1497,0-0,0,1744
XiQi,1943,CHN,21,1996-08-09,70.0,180.0,0-0,0,1522,1147,0-0,0,12165
RiccardoRoberto,1943,ITA,20,1997-10-01,75.0,180.0,0-0,0,634,1591,0-0,0,3050
OllySadler,1943,NZL,22,1995-10-11,NaN,NaN,0-0,0,1418,1473,0-0,0,2782
ChristofferSolberg,1943,SWE,23,1994-02-01,70.0,175.0,0-0,0,1142,830,0-0,0,12390
IsaacStoute,1943,GBR,21,1996-04-12,NaN,NaN,0-0,0,1142,1943,0-0,0,3324
CliffordEnosoregbe,1961,NGR,27,1990-10-19,NaN,NaN,0-0,0,1782,1043,0-0,0,11726
WashiGervais,1961,CAN,23,1994-04-21,88.0,188.0,0-0,0,1678,1543,0-0,0,4500
DominikLangmajer,1961,CZE,18,1999-08-21,NaN,NaN,0-0,0,1194,1957,0-0,0,1392
PatrickMayer,1961,GER,23,1994-01-05,NaN,NaN,0-0,0,1104,1209,0-0,0,3192
MatveyMinin,1961,RUS,16,2001-06-28,NaN,NaN,0-0,0,1506,1876,0-0,0,1506
FrancoRibero,1961,ARG,18,1999-09-09,82.0,188.0,0-0,0,986,1428,0-0,0,3112
Li-WieTan,1961,TPE,22,1995-09-03,80.0,180.0,0-0,0,1678,1441,0-0,0,5038
GianlucaAcquaroli,1968,ITA,23,1994-10-27,NaN,NaN,0-0,0,1454,1620,0-0,0,2672
VasishtCheruku,1968,IND,18,1999-06-14,NaN,NaN,0-0,0,552,1493,0-0,0,2966
SylvesterEmmanuel,1968,NGR,19,1998-04-04,NaN,NaN,0-0,0,1228,867,0-0,0,6853
StamatisKapiris,1968,GRE,18,1999-06-02,NaN,NaN,0-0,0,1350,1524,0-0,0,2064
PhongsapakKerdlaphee,1968,THA,19,1998-05-07,NaN,NaN,0-0,0,1350,1768,0-0,0,2580
LucasVuradin,1968,AUS,18,1999-01-26,64.0,173.0,0-0,0,2042,1968,0-0,0,3604
HaoWu,1968,CHN,20,1997-02-14,83.0,191.0,0-0,0,2194,974,0-0,0,6610
GlebAlekseenko,1975,UKR,34,1983-05-19,85.0,191.0,0-0,0,1454,609,0-0,0,51294
DavidJuras,1975,SVK,18,1999-11-21,NaN,NaN,0-0,0,1610,1458,0-0,0,2276
PatrikObal,1975,SVK,21,1996-06-20,NaN,NaN,0-0,0,508,1535,0-0,0,3752
AgustinSuarezGonzalez,1975,ARG,24,1993-04-13,NaN,NaN,0-0,0,948,1531,0-0,0,4834
FrancoCapalbo,1980,ARG,20,1997-12-26,NaN,NaN,0-0,0,952,966,0-0,0,6685
BartStevens,1980,NED,19,1998-01-29,NaN,NaN,0-0,0,1636,925,0-0,0,5046
BorisButulija,1982,SRB,18,1999-01-04,NaN,NaN,0-0,0,420,1538,0-0,0,3362
MilosNikolic,1982,SRB,20,1997-12-26,NaN,NaN,0-0,0,1468,1209,0-0,0,6035
KeisukeNumajiri,1982,JPN,22,1995-09-25,NaN,NaN,0-0,0,1086,1231,0-0,0,8661
IsaMammetgulyyev,1985,TKM,20,1997-01-08,NaN,NaN,0-0,0,2078,1115,0-0,0,7718

In [132]:
zapis.sort_values(by=['Birthday'], ascending=True)

,Rank,Country,Age,Birthday,Weight,Height,WL_17,T17,Earn17,Career_high,WL_career,T_career,Earn_career
Birthday,,,,,,,,,,,,,
1971-09-12,1606,MAR,46,1971-09-12,86,193,0-0,0,258,14,265-227,5,"4,044,667"
1976-07-09,1606,ESP,41,1976-07-09,,,0-0,0,430,292,0-0,0,"42,267"
1976-09-20,957,JPN,41,1976-09-20,73,175,0-0,0,"1,530",102,50-46,0,"729,199"
1977-06-18,1606,ROU,40,1977-06-18,76,185,0-0,0,258,74,21-53,0,"714,904"
1978-01-06,430,ESP,39,1978-01-06,74,183,0-0,0,"32,325",50,68-133,0,"2,346,155"
1978-04-03,252,GER,39,1978-04-03,84,188,6-14,0,"261,904",2,569-338,15,"13,609,987"
1978-04-19,1694,JPN,39,1978-04-19,77,180,0-1,0,"23,337",141,2-5,0,"258,467"
1978-06-18,1492,KOR,39,1978-06-18,,,0-0,0,828,288,1-0,0,"89,268"
1978-11-27,354,CZE,39,1978-11-27,76,185,3-2,0,"94,064",8,384-302,5,"11,343,464"
1979-02-28,80,CRO,38,1979-02-28,104,211,15-20,0,"670,230",14,346-307,8,"8,790,533"
1979-07-07,1606,CZE,38,1979-07-07,83,188,0-0,0,258,59,79-118,0,"2,178,092"
1980-01-30,1694,PAK,37,1980-01-30,,,1-0,0,930,613,20-14,0,"16,902"
1980-05-17,218,FRA,37,1980-05-17,77,185,1-11,0,"212,454",50,37-72,0,"2,216,454"
1980-06-06,1192,ROU,37,1980-06-06,81,170,0-0,0,"1,784",218,0-0,0,"134,451"
1980-07-11,1321,COL,37,1980-07-11,,,0-0,0,852,245,8-4,0,"205,626"
1980-08-02,83,DOM,37,1980-08-02,77,170,9-10,1,"354,188",43,82-72,3,"1,958,311"
1980-10-10,1694,FIN,37,1980-10-10,,,0-0,0,320,300,2-1,0,"41,293"
1980-12-12,829,USA,37,1980-12-12,82,188,0-0,0,"3,686",516,0-0,0,"27,919"
1981-02-09,684,CZE,36,1981-02-09,72,178,0-0,0,"5,827",103,1-7,0,"530,993"
1981-05-22,186,AUT,36,1981-05-22,81,183,0-2,0,"80,169",8,348-334,5,"9,936,146"
1981-06-16,519,GER,36,1981-06-16,72,178,0-3,0,"60,768",35,153-220,1,"4,399,584"
1981-08-08,2,SUI,36,1981-08-08,85,185,52-5,7,"13,054,856",1,1132-250,95,"111,885,682"
1981-09-10,418,SUI,36,1981-09-10,85,185,2-5,0,"92,614",52,52-98,0,"2,023,620"
1981-09-20,36,ESP,36,1981-09-20,73,185,25-23,1,"1,303,087",12,452-409,6,"14,640,010"
1981-10-14,842,RUS,36,1981-10-14,78,183,7-9,0,"66,616",53,62-91,1,"837,359"
1981-11-05,1444,MKD,36,1981-11-05,,,0-0,0,516,505,2-7,0,"22,673"
1981-12-15,43,ITA,36,1981-12-15,77,183,25-35,0,"979,470",33,97-154,1,"4,039,685"
1981-12-20,56,FRA,36,1981-12-20,79,185,13-14,0,"570,506",25,265-286,0,"8,997,245"
1982-01-03,475,CZE,35,1982-01-03,84,191,0-0,0,"13,381",163,2-1,0,"597,668"
1982-01-12,249,FRA,35,1982-01-12,74,185,1-9,0,"180,965",12,276-306,4,"6,299,093"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2000-10-06,1849,ARG,17,2000-10-06,,,0-0,0,312,1446,0-0,0,"1,038"
2000-10-12,1694,AUT,17,2000-10-12,,,0-0,0,414,1694,0-0,0,518
2000-10-24,1492,NED,17,2000-10-24,,,0-0,0,648,1029,0-0,0,"1,580"
2000-10-26,566,GER,17,2000-10-26,,,0-1,0,"20,381",563,0-1,0,"23,098"
2000-10-30,1606,TPE,17,2000-10-30,,,0-0,0,430,1604,0-0,0,484
2000-11-07,1606,ARG,17,2000-11-07,,,0-0,0,258,1606,0-0,0,354
2000-11-16,1781,USA,17,2000-11-16,,,0-0,0,414,1781,0-0,0,518
2000-12-07,1465,SRB,17,2000-12-07,,,0-0,0,672,1461,0-0,0,830
2000-12-15,1781,ARG,17,2000-12-15,,,0-0,0,570,1604,0-0,0,774
2000-12-28,1129,ARG,17,2000-12-28,,,0-0,0,"1,273",1116,0-0,0,"1,549"
2001-02-01,998,UZB,16,2001-02-01,80,183,0-0,0,"3,278",989,0-0,0,"6,506"
2001-02-13,1436,USA,16,2001-02-13,,,0-0,0,594,1434,0-0,0,648
2001-02-17,1237,USA,16,2001-02-17,,,0-0,0,"1,300",1237,0-0,0,"2,078"
2001-02-21,1606,USA,16,2001-02-21,,,0-0,0,258,1604,0-0,0,312
2001-02-22,1543,MAR,16,2001-02-22,,,0-0,0,"1,218",1465,0-0,0,"1,530"
2001-02-27,1606,VIE,16,2001-02-27,,,0-0,0,258,1604,0-0,0,972
2001-04-01,1781,BRA,16,2001-04-01,,,0-0,0,570,1604,0-0,0,762
2001-04-10,1694,ARG,16,2001-04-10,,,0-0,0,414,1694,0-0,0,614
2001-05-18,1129,ESP,16,2001-05-18,,,0-0,0,"1,793",1116,0-0,0,"4,020"
2001-05-27,1694,POL,16,2001-05-27,,,0-0,0,414,1678,0-0,0,468
2001-05-30,1432,GBR,16,2001-05-30,,,0-0,0,438,1430,0-0,0,438
2001-06-21,1694,FIN,16,2001-06-21,,,0-0,0,586,1694,0-0,0,"1,226"
2001-06-28,1961,RUS,16,2001-06-28,,,0-0,0,"1,506",1876,0-0,0,"1,506"
2001-07-10,1781,BLR,16,2001-07-10,,,0-0,0,570,1781,0-0,0,"1,690"
2001-07-26,1606,ESP,16,2001-07-26,,,0-0,0,258,1604,0-0,0,312
2001-08-08,1455,TPE,16,2001-08-08,,,0-0,0,312,1340,0-0,0,988
2001-08-15,1606,ISR,16,2001-08-15,,,0-0,0,258,1604,0-0,0,670
2001-09-18,1321,ROU,16,2001-09-18,,,0-0,0,852,1307,0-0,0,"1,046"
2002-05-12,1444,ESP,15,2002-05-12,,,0-0,0,516,1443,0-0,0,624
2002-11-20,1606,RSA,15,2002-11-20,,,0-0,0,216,1483,0-0,0,474

In [133]:
zapis.iloc[1]

Rank                             2
Country                        SUI
Age                             36
Birthday       1981-08-08 00:00:00
Weight                          85
Height                         185
WL_17                         52-5
T17                              7
Earn17                  13,054,856
Career_high                      1
WL_career                 1132-250
T_career                        95
Earn_career            111,885,682
Name: 1981-08-08 00:00:00, dtype: object

In [114]:
#zapis(parse_dates=['Birthday'])
zapis[:1000].plot(x='Birthday', y='Rank', kind='scatter', title='Razmerje')

ValueError: scatter requires x column to be numeric

In [115]:
drzava = zapis.groupby('Birthday')
drzava = drzava.count()

In [116]:
drzava['Rank'].sort_values('Rank', ascending=False)

ValueError: No axis named Rank for object type <class 'pandas.core.series.Series'>